<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Posts</title>
  </head>
  <body>
    <h1>Quora POSTs</h1>
    <br />
    <hr />
    <button><a href="/posts/new">Create a new post</a></button>
    <br />
    <br />
    <hr />
    <div>
      <% for(const post of posts) {%>
      <div class="post">
        <div>Post id : <%= post.id%></div>
        <h3 class="user">@<%=post.userName%></h3>
        <p class="content"><%=post.content%></p>
        <button><a href="/posts/<%=post.id%>">View Post</a></button>
        <button><a href="/posts/<%=post.id%>/edit">Edit Post</a></button>
        <br />
        <br />
        <form method="post" action="http://localhost:3000/posts/<%= post.id %>?_method=DELETE">
          <button>Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
